In [23]:
import numpy as np
import pandas as pd
df=pd.read_csv('moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [24]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [25]:
df.dropna(inplace=True)

In [26]:
len(df)

1965

In [27]:
my='hello'
empty='     '

In [28]:
my.isspace()

False

In [29]:
empty.isspace()

True

In [30]:
#i review is blank
blank=[]
#lv=label,rv=review
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blank.append(i)

In [31]:
df.drop(blank,inplace=True)

In [32]:
len(df)

1938

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

x=df['review']
y=df['label']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=42)

clf=LinearSVC()

text_clf=Pipeline([('tfidf', TfidfVectorizer()),('clf', LinearSVC())])
text_clf.fit(x_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
 ...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [38]:
pred = text_clf.predict(x_test)

In [39]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,pred))
print('\n')
print(classification_report(y_test,pred))

[[235  47]
 [ 41 259]]


             precision    recall  f1-score   support

        neg       0.85      0.83      0.84       282
        pos       0.85      0.86      0.85       300

avg / total       0.85      0.85      0.85       582

In [40]:
from sklearn import metrics
metrics.accuracy_score(y_test,pred)

0.8487972508591065