In [1]:
import pandas as pd
npr=pd.read_csv('npr.csv')
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [2]:
#npr['Article']['0']
len(npr)

11992

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_df=0.9,min_df=2,stop_words='english')
dtm=cv.fit_transform(npr['Article'])
from sklearn.decomposition import LatentDirichletAllocation
LDA = LatentDirichletAllocation(n_components=7,random_state=42)

In [5]:
LDA.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7, learning_method=None,
             learning_offset=10.0, max_doc_update_iter=100, max_iter=10,
             mean_change_tol=0.001, n_components=7, n_jobs=1,
             n_topics=None, perp_tol=0.1, random_state=42,
             topic_word_prior=None, total_samples=1000000.0, verbose=0)

In [13]:
#grab the vocabulary of words
import random
random_word_id = random.randint(0,54777)
cv.get_feature_names()[random_word_id]

'arlington'

In [15]:
#grab the topics
single_topic=LDA.components_[0]
single_topic.argsort()

import numpy as np
single_topic.argsort()[-10:]

array([ 9511, 49613, 53019, 11657, 21228, 40955, 36283, 37374, 42993,
       42561], dtype=int64)

In [17]:
top_ten_words = single_topic.argsort()[-10:]
for index in top_ten_words:
    print(cv.get_feature_names()[index])

city
told
war
country
government
reports
people
police
says
said

In [19]:
#grab the highest prob. word per topics
for i,topic in enumerate(LDA.components_):
    print(f"The top 15 words for topic #{i}")
    print([cv.get_feature_names()[index] for index in topic.argsort()[-15:]])
    print('\n')
    print('\n')

The top 15 words for topic #0
['state', 'attack', 'killed', 'according', 'military', 'city', 'told', 'war', 'country', 'government', 'reports', 'people', 'police', 'says', 'said']




The top 15 words for topic #1
['russian', 'npr', 'fbi', 'did', 'clinton', 'told', 'media', 'white', 'campaign', 'russia', 'house', 'news', 'president', 'said', 'trump']




The top 15 words for topic #2
['world', 'year', 'make', 'day', 'home', 'time', 'city', 'new', 'years', 'just', 'people', 'water', 'like', 'food', 'says']




The top 15 words for topic #3
['women', 'don', 'just', 'research', 'like', 'university', 'children', 'percent', 'care', 'study', 'students', 'school', 'health', 'people', 'says']




The top 15 words for topic #4
['vote', 'court', 'new', 'percent', 'republican', 'law', 'campaign', 'obama', 'states', 'people', 'president', 'clinton', 'state', 'said', 'trump']




The top 15 words for topic #5
['ve', 'going', 'years', 'don', 'life', 'new', 'really', 'way', 'says', 'know', 'think', 'time', 'people', 'just', 'like']




The top 15 words for topic #6
['jobs', 'said', 'percent', 'government', 'money', 'year', 'industry', 'business', '000', 'million', 'china', 'companies', 'new', 'company', 'says']

In [20]:
topic_result=LDA.transform(dtm)
topic_result[0].round(2)

array([0.07, 0.68, 0.01, 0.  , 0.22, 0.  , 0.02])

In [21]:
npr['Topic'] = topic_result.argmax(axis=1)

In [22]:
npr.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      5

In [23]:
#non -ve matrix factorization
mytopic_dict={0:'health',1:'election',2:'legis',3:'poli',4:'election',5:'music',6:'edu'}
npr['Topic Label'] = npr['Topic'].map(mytopic_dictic_dict)

In [24]:
npr.head()

                                             Article  Topic Topic Label
0  In the Washington of 2016, even when the polic...      1    election
1    Donald Trump has used Twitter  —   his prefe...      1    election
2    Donald Trump is unabashedly praising Russian...      1    election
3  Updated at 2:50 p. m. ET, Russian President Vl...      1    election
4  From photography, illustration and video, to d...      5       music